/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html, body {
    height: 100%;
  }
  
  html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  body {
    background-color: $primary-color-04;
    margin: 0;
    padding: 0;
    font-family: $font-default;
    color: $text-default;
  }
  
  // h1, h2, h3, h4, h5, h6 {
  //   font-family: $headerFont;
  //   font-weight: 600;
  // }
  
  pre {
    overflow: auto;
  }

  code, pre {
    font-family: $font-code;
    font-size: 1em;
  }
  
  // img {
  //   width: 100%; }
  
  .no-margin {
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /*
    * Remove text-shadow in selection highlight:
    * https://twitter.com/miketaylr/status/12228805301
    *
    * Vendor-prefixed and regular ::selection selectors cannot be combined:
    * https://stackoverflow.com/a/16982510/7133471
    *
    * Customize the background color to match your design.
    */
  
  ::selection {
    background: #fff;
    text-shadow: none;
  }
  
  /* A better looking default horizontal rule */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /* Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
      vertical-align: middle;
  }
  
  /* Remove default fieldset styles. */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /* Allow only vertical resizing of textareas. */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
      Browser Upgrade Prompt
      ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  