{% extends 'admin/base.html' %}
{% load static i18n %}

{% block extrastyle %}
  <style type="text/css">
    body:before {
        display: block;
        line-height: 35px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        content: "{{ ENVIRONMENT_NAME }}";
        background-color: {{ ENVIRONMENT_COLOR }};
    }
  </style>
  <link rel="stylesheet" href="{% static 'css/admin.min.css' %}">
{% endblock extrastyle %}

{% block extrahead %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
{% endblock extrahead %} 

{% block branding %}
<h1>
  <a class="navbar-brand page-scroll sticky-logo scsi-brand" href="#">
    <img src="{% static 'images/favicon/favicon-32x32.png' %}" alt="myLibrary" title="">
  </a>{% trans ' myLibrary Admin' %}
</h1>
{% endblock branding %}

