/* ===========================
    Admin Styling (Sass)
   =========================== */
/* ===============================================
      Variables
   =============================================== */
/* Django Admin specific styling */
#header {
  height: 50px;
  background: #333;
  color: #fff; }

#branding h1 {
  color: #fff; }

#content h1 {
  font-size: 28px; }

a:link, a:visited {
  color: #333; }

div.breadcrumbs {
  background: #8bd9ef;
  color: #25737f; }

div.breadcrumbs a {
  color: #25737f; }

div.breadcrumbs a:hover {
  color: #333; }

.module h2, .module caption, .inline-group h2 {
  background: #3ec1d5; }

.button, input[type="submit"], input[type="button"], .submit-row input, a.button {
  background: #333;
  color: #fff; }

.button.default, input[type="submit"].default, .submit-row input.default {
  background-color: #319aaa; }

.lib-brand {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #fff; }
  .lib-brand span {
    color: #3ec1d5; }
