/* ===========================
    Project Styling (Sass)
   =========================== */
/* ===============================================
      Variables
   =============================================== */
/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html, body {
  height: 100%; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

body {
  background-color: #fbfdfe;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #212529; }

pre {
  overflow: auto; }

code, pre {
  font-family: courier new, Courier, monospace;
  font-size: 1em; }

.no-margin {
  margin: 0; }

* {
  box-sizing: border-box; }

/*
    * Remove text-shadow in selection highlight:
    * https://twitter.com/miketaylr/status/12228805301
    *
    * Vendor-prefixed and regular ::selection selectors cannot be combined:
    * https://stackoverflow.com/a/16982510/7133471
    *
    * Customize the background color to match your design.
    */
::-moz-selection {
  background: #fff;
  text-shadow: none; }
::selection {
  background: #fff;
  text-shadow: none; }

/* A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/* Remove default fieldset styles. */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Allow only vertical resizing of textareas. */
textarea {
  resize: vertical; }

/* ==========================================================================
      Browser Upgrade Prompt
      ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* Mixins */
/* Extend Semantic UI styles */
.pusher {
  margin-left: 32px;
  margin-left: 2rem; }

.lib-banner {
  margin-left: -32px;
  margin-left: -2rem; }

h1.page-title span {
  color: #319aaa; }

a {
  color: #3ec1d5; }

/* Project specific styling for Buttons */
.btn {
  background-color: #3ec1d5 !important;
  color: #fff !important; }

/* Menu and navigation styling */
.lib-brand {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #fff; }
  .lib-brand__dark {
    color: #000000; }
    .lib-brand__dark span {
      color: #3ec1d5; }
  .lib-brand span {
    color: #3ec1d5; }

/* Django Alert styles */
.alert {
  padding: 12px 16px;
  padding: .75rem 1rem;
  margin: 0;
  border-radius: 10px;
  transform: translateY(70px);
  z-index: 1000; }
  .alert:empty {
    visibility: none; }
  .alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb; }
  .alert-warning {
    background-color: #fff9e7;
    border-color: #ffe79a; }
  .alert-error, .alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #B03060; }
  .alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb; }
  .alert-debug {
    background-color: #fff;
    border-color: #d6e9c6;
    color: #000000; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* Use a minimum page height. */
.main-page {
  min-height: 75%;
  font-size: 16px; }

/* Grey out input box placeholders. */
input.placeholder,
textarea.placeholder {
  color: #A0A0A0; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #A0A0A0; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #A0A0A0; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #A0A0A0; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #A0A0A0; }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
