{% extends "base.html" %}
{% load static i18n %}

{% block page-content %}
<div class="sixteen wide column">

  <h1>{% trans 'Log Out' %}</h1>
  <p>{% trans 'You have been logged out!' %}</p>
  <a href="{% url 'login'%}">{% trans 'Click here to login again.' %}</a>

</div>
{% endblock page-content %}
