{% extends "base.html" %}
{% load static i18n %}

{% block page-content %}
<div class="sixteen wide column">

  <h1>{% trans 'Log In' %}</h1>
  {% if form.errors %}
    {% blocktrans %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endblocktrans %}
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      {% blocktrans %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% endblocktrans %}
    {% else %}
      {% blocktrans %}<p>Please login to see this page.</p>{% endblocktrans %}
    {% endif %}
  {% endif %}
  
  <form class="ui form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input class="ui button btn" type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">{% trans 'Lost password?' %}</a></p>

</div>
{% endblock page-content %}