{% extends "base.html" %}
{% load static i18n %}

{% block page-content %}
<div class="sixteen wide column">

{% blocktrans %}
  <h1>{% trans 'The password has been changed!' %}</h1>
  <p><a href="{% url 'login' %}">{% trans 'Log in again?' %}</a></p>
{% endblocktrans %}

</div>
{% endblock page-content %}
