{% extends "base.html" %}
{% load static i18n %}

{% block page-content %}
<div class="sixteen wide column">

  {% if validlink %}
    {% blocktrans %}
      <h1>Confirm Password</h1>
      <p>Please enter (and confirm) your new password.</p>
    {% endblocktrans %}

    <form action="" method="post">
      {% csrf_token %}
      <table>
        <tr>
          <td>{{ form.new_password1.errors }}
            <label for="id_new_password1">{% trans 'New password:' %}</label></td>
          <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
          <td>{{ form.new_password2.errors }}
            <label for="id_new_password2">{% trans 'Confirm password:' %}</label></td>
          <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
          <td></td>
          <td><input class="ui button btn" type="submit" value="Change my password" /></td>
        </tr>
      </table>
    </form>
    {% else %}
      {% blocktrans %}
        <h1>Password reset failed</h1>
        <p>
          The password reset link was invalid, possibly because it has already 
          been used. Please request a new password reset.
        </p>
      {% endblocktrans %}
    
  {% endif %}

</div>
{% endblock page-content %}