{% extends "base.html" %}
{% load static i18n %}

{% block page-content %}
<div class="sixteen wide column">
    
  {% blocktrans %}
    <p>
      We've emailed you instructions for setting your password. 
      If they haven't arrived in a few minutes, check your spam folder.
    </p>
  {% endblocktrans %}

</div>
{% endblock page-content %}
