{% extends "base.html" %}
{% load static i18n %}

{% block page-content %}
<div class="sixteen wide column">

  <form class="ui form" action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p> 
    <input class="ui button btn" type="submit" value="Reset password">
    <a class="ui button" href="javascript:history.go(-1)">
      {% trans 'Cancel' %} </a>
  </form>

</div>
{% endblock page-content %}
