{% extends "base.html" %}
{% load static i18n %}

{% block page-content %}
<div class="sixteen wide column">

  <h1>{% trans 'Author List' %}</h1>
  <a class="ui mini button btn" href="{% url 'catalog:author_create' %}">
        {% trans 'Add New Author' %} </a>
  <hr>

  {% if author_list %}
    <ul>
      {% for author in author_list %}
        <li>
          <a href="{{ author.get_absolute_url }}">
          {{ author }} 
          {% if author.date_of_birth %}
            ({{author.date_of_birth}} - 
              {% if author.date_of_death %}{{author.date_of_death}}{% endif %})
          </a>
        </li>
          {% endif %}
          
      {% endfor %}
    </ul>

  {% else %}
    {% blocktrans %}
      <p>There are no authors available.</p>
    {% endblocktrans %}

  {% endif %}

</div>
{% endblock page-content %}