{% extends "base.html" %}
{% load static i18n %}

{% block page-content %}

{% blocktrans %}
  <h1>Delete Author</h1>
  <p>Are you sure you want to delete the author: 
{% endblocktrans %}
  <strong>{{ author }}</strong>?
  </p>

  <form action="" method="POST">
    {% csrf_token %}
    <input class="ui red button" type="submit" value="Yes, delete.">
    <a class="ui button" href="javascript:history.go(-1)">
      {% trans 'Cancel' %} </a>
  </form>

{% endblock page-content %}