{% extends "base.html" %}
{% load static i18n %}

{% block page-content %}
<div class="ten wide column">

  <h1 class="page-title">{% trans 'Author: ' %}<span>{{ author }}</span></h1>
  <small>
  {% if author.date_of_birth %}
    <p>{{author.date_of_birth}} - 
      {% if author.date_of_death %}{{author.date_of_death}}{% endif %}
    </p>
  {% endif %}
  </small>
  <p>{{ author.bio|linebreaks }}</p>

  <a class="ui mini button btn" href="{% url 'catalog:author_update' author.pk %}">
        {% trans 'Edit Author' %} </a>
  <a class="ui red mini button" href="{% url 'catalog:author_delete' author.pk %}">
        {% trans 'Delete Author' %} </a>  
  <hr>

  <div style="margin-left:20px;margin-top:20px">
  <h3>{% trans 'Books' %}</h3>

  {% for book in author.book_set.all %}
  <div class="ui fluid segment">
    <h4>
      <a href="{% url 'catalog:book_detail' book.pk %}">{{book}}</a>
      <small>({{ book.date_published|date:"Y" }})</small>
    </h4>
    <dd>{{book.summary|linebreaks}}</dd>
  </div>
  {% endfor %}
  </div>

</div>
{% endblock page-content %}