{% extends "base.html" %}
{% load static i18n %}

{% block page-content %}
<div class="sixteen wide column">

  <h1>{% trans 'Book List' %}</h1>
  <a class="ui mini button btn" href="{% url 'catalog:book_create' %}">
      {% trans 'Add New Book' %} </a>
  <hr>

  {% if book_list %}
  <ul>
    {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> 
        ({{book.author}})
        <small>{{ book.display_genre }}</small>
        
      </li>
    {% endfor %}
  </ul>
  {% else %}
    {% blocktrans %}
    <p>There are no books in the library.</p>
    {% endblocktrans %}
  {% endif %} 

</div>
{% endblock page-content %}