{% extends "base.html" %}
{% load static i18n %}

{% block page-content %}
<div class="sixteen wide column">

  <h1>{% trans 'Title: ' %}{{ book.title }}</h1>

  <a class="ui teal mini button" href="{% url 'catalog:book_update' book.pk %}">
      {% trans 'Edit Book' %} </a>
  <a class="ui red mini button" href="{% url 'catalog:book_delete' book.pk %}">
      {% trans 'Delete Book' %} </a>

  <p><strong>{% trans 'Author: ' %}</strong> <a href="">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>{% trans 'Summary: ' %}</strong> {{ book.summary|linebreaks }}</p>
  <p><strong>{% trans 'ISBN: ' %}</strong> {{ book.isbn }}</p> 
  <p><strong>{% trans 'Published: ' %}</strong> {{ book.date_published|date:"F j, Y" }}</p> 
  <p><strong>{% trans 'Genre: ' %}</strong> {{ book.display_genre }}</p>

</div>
{% endblock page-content %}