{% extends "base.html" %}
{% load static i18n %}
{% load mptt_tags %}

{% block page-content %}
<div class="sixteen wide column">

  <h1>{% trans 'List of Genres' %}</h1>
  <a class="ui mini button btn" href="{% url 'catalog:genre_create' %}">
    {% trans 'Add New Genre' %} </a>
  <hr>

  <ul>
    {% recursetree genres %}
    <li>
      {{ node.name }}
      {% if not node.is_leaf_node %}
      <ul class="children">
        {{ children }}
      </ul>
      {% endif %}
    </li>
    {% endrecursetree %}
  </ul>

</div>
{% endblock page-content %}
