{% extends "base.html" %}
{% load static i18n %}

{% block page-content %}
<div class="sixteen wide column">

  <h1>{% trans 'Genre Create/Update' %}</h1>
  <form class="ui form" action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input class="ui button btn" type="submit" value="Submit">
    <a class="ui button" href="javascript:history.go(-1)">
      {% trans 'Cancel' %} </a>
  </form>

</div>
{% endblock page-content %}