{% extends "base.html" %}
{% load static i18n %}

{% block page-content %}
<div class="sixteen wide column">

  <h1 class="page-title">{% trans 'Title: ' %}<span>{{ genre.name }}</span></h1>

  <!-- {% comment %}
    <a class="ui teal mini button" href="{% url 'catalog:genre_update' genre.pk %}">
      {% trans 'Edit Genre' %} </a>
  <a class="ui red mini button" href="{% url 'catalog:genre_delete' genre.pk %}">
      {% trans 'Delete Genre' %} </a> 
    {% endcomment %} -->

  <p><strong>{% trans 'Definition: ' %}</strong> {{ genre.definition|linebreaks }}</p>
  <p><strong>{% trans 'Parent: ' %}</strong> {{ genre.parent }}</p> 


</div>
{% endblock page-content %}