{% extends "base.html" %}
{% load static i18n %}

{% block page-content %}
<div class="sixteen wide column">
  {% blocktrans %}
    <h1 class="lib-brand__dark"><span>my</span>Library Home</h1>
    <p>Welcome to <strong class="lib-brand__dark"><span>my</span>Library</strong>, 
        a website developed by <em>Mozilla Developer Network</em>!</p>
  {% endblocktrans %}

  <div class="ui inverted segment">
    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p>

    <ul>
      <li>
        <strong><a class="item" href="{% url 'catalog:books' %}">
          {% trans 'Books: ' %}</a></strong> {{ num_books }}
      </li>
      <li>
        <strong><a class="item" href="{% url 'catalog:authors' %}">
          {% trans 'Authors: ' %}</a></strong> {{ num_authors }}
      </li>
      <li>
        <strong><a class="item" href="{% url 'catalog:genres' %}">
          {% trans 'Genres: ' %}</a></strong> {{ num_genres }}
      </li>
    </ul>
  
  </div>

  <p><em>{% trans 'You have visited this page ' %} {{ num_visits }}
    {% if num_visits == 1 %}{% trans 'time' %}
    {% else %}{% trans 'times' %}
    {% endif %}.</em></p>
</div>
{% endblock page-content %}
