{% load static i18n %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% endblock title %}{% trans 'myLibrary' %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block meta-keywords %}
  <meta name="meta-keywords" content="Books, Library">
  {% endblock meta-keywords %}

  {% block meta-description %}
  <meta name="description" content="A library for tracking my books.">
  {% endblock meta-description %}

  <!-- Favicon -->
  {% block favicon %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
  {% endblock favicon %}

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
    rel="stylesheet">

  {% block css %}

  <!-- Libraries CSS Files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

  <!-- This file stores project-specific CSS -->
  <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
  {% block extra-css %}{% endblock extra-css %}

  {% endblock css %}

</head>

<body data-spy="scroll" data-target="#navbar-example">

  <header>
    {% comment %} {% block nav-menu %}
    {% include 'shared/_navbar.html' %}
    {% endblock nav-menu %} {% endcomment %}
  </header>

  {% block content %}
  <!-- Page Content -->
  <div class="ui grid">

    <!-- Sidebar -->
    <div class="ui visible left vertical inverted menu sidebar">

      {% block sidebar %}
      <!-- Branding -->
      <div class="item">
        <div class="header">
          <h2>
            <a class="lib-brand" href="{% url 'catalog:index' %}">
              <span>my</span>Library</a>
          </h2>
        </div>
        {% if user.is_authenticated %}
        <p class="header"><strong><em>@{{ user.get_username }}</em></strong></p>
        {% endif %}
      </div>
      <!-- Navigation -->
      <div class="item">
        <div class="header">{% trans 'Navigation' %}</div>
        <div class="menu">
          <a class="item" href="{% url 'catalog:index' %}">
            <span><i class="home icon"></i>
            {% trans 'Home' %}</span></a>
          <a class="item" href="{% url 'catalog:books' %}">
            <span><i class="book icon"></i>
              {% trans 'All books' %}</span></a>
          <a class="item" href="{% url 'catalog:authors' %}">
            <span><i class="users icon"></i>
            {% trans 'All authors' %}</span></a>
        </div>
      </div>
      <!-- User Options -->
      <div class="item">
        <div class="header">{% trans 'User Options' %}</div>
        <div class="menu">
          {% if user.is_authenticated %}

          {% if user.is_superuser %}
          <a class="item" href="{% url 'admin:index'%}" target="_blank">
            <span><i class="cogs icon"></i>
              {% trans 'Admin' %}</span></a>
          {% endif %}
          <a class="item" href="{% url 'logout'%}?next={{request.path}}">
            <span><i class="sign-out icon"></i>
              {% trans 'Logout' %}</span></a>
          {% else %}
          <a class="item" href="{% url 'login'%}?next={{request.path}}">
            <span><i class="sign-in icon"></i>
              {% trans 'Login' %}</span></a>
          {% endif %}
        </div>
      </div>

      {% endblock sidebar %}

    </div>

    <!-- Site Content -->
    <div class="pusher">
      <div class="lib-banner">
        <div class="ui top banner test ad" data-text="">
          <img class="ui image" src="{% static 'images/ed-robertson-eeSdJfLfx1A-unsplash.jpg' %}" 
              alt="Image of books" title="Photo by Ed Robertson on Unsplash">
        </div>
      </div>

      <div class="ui grid">
        <div class="row"><div class="sixteen wide column"></div></div>
        <div class="row">
          <!-- <div class="one wide column"></div> -->
          <!-- <div class="sixteen wide column"> -->
        
            <!-- Alerts -->
            {% comment %} <div class="">
              {% if messages %}
              {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
              </div>
              {% endfor %}
              {% endif %}
              </div> {% endcomment %}

              {% block page-content %}{% endblock page-content %}

              {% block pagination %}
                {% if is_paginated %}
                  <div class="pagination">
                    <span class="page-links">
                      {% if page_obj.has_previous %}
                      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                        {% trans 'previous' %}</a>
                      {% endif %}
                      <span class="page-current">
                        {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %}
                        {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                        {% trans 'next' %}</a>
                      {% endif %}
                    </span>
                  </div>
                {% endif %}
              {% endblock pagination %}

              <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
          <!-- </div> -->
        </div>

      </div> <!-- end inner ui grid -->
    </div>  <!-- end pusher -->

  </div>  <!-- end page ui grid -->
  {% endblock content %}


  {% block javascript %}
  <!-- JavaScript Libraries -->
  {% comment %} <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/all.min.js' %}"></script> {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

  <!-- Project specific JavaScript -->
  <script src="{% static 'js/project.min.js' %}"></script>
  {% block extra-js %}{% endblock extra-js %}

  {% endblock javascript %}

</body>

</html>