/* Menu and navigation styling */

.lib-brand {
  font-family: $font-brand;
  font-weight: 700;
  font-size: 36px;
  color: #fff;

  &__dark {
    color: $black;

    span {
      color: $secondary-color-0;
    }
  }

  span {
    color: $secondary-color-0;
  }
}
