/* Extend Semantic UI styles */

.pusher {
  margin-left: 2rem;
}

.lib-banner {
  margin-left: -2rem;
}

h1.page-title {

  span {
    color: $secondary-color-1;
  }
}

a {
  color: $secondary-color-0;
}